<div 
    [ngClass]="appService.getThemeClass('navbar')"
>
    <!-- Menu -->
    <div 
        [ngClass]="appService.getThemeClass('navbar-icon')"
    >
        <i class="pi pi-bars navbar-menu-icon" (click)="appService.toggleSidebarMenu()"></i> 
    </div>
    <!-- Logo -->
    <div class="navbar-logo">
        <a href="/"><img [src]="logoSrc()" alt="Logo"></a>
    </div>
    <!-- App Brand -->
    <div 
        *ngIf="type()==='blue'||type()==='white'"
        [ngClass]="appService.getThemeClass('navbar-brand')"
    >
        Coppel Framework AngularSPA 18
    </div>
    <!-- Buscador -->
    <div [ngClass]="appService.getThemeClass('navbar-search')">
        <app-search-input [options]="searchOptions.bind(this)" [type]="type.bind(this)"></app-search-input>
    </div>
    <!-- Iconos -->
    <div class="navbar-buttons">
        <i 
            class="pi pi-bell notification-button" 
            [ngClass]="appService.getThemeClass('navbar-icon')"
            (click)="toggleNotifications()"
        >
            <span *ngIf="notifications().length > 0" class="notification-count">{{ notifications().length }}</span>
        </i>
        <i 
            class="pi pi-user navbar-icon" 
            [ngClass]="appService.getThemeClass('navbar-icon')"
            (click)="toggleUserMenu()"
        ></i>
    </div>
    <!-- Notificaciones -->
    <ul *ngIf="isNotificationsVisible()" [ngClass]="appService.getThemeClass('notifications-dropdown')" (blur)="onBlurNotifications()">
        <div class="notification-header-container">
            <span [ngClass]="appService.getThemeClass('notification-label')">
                Notificaciones
            </span>
            <i (click)="toggleNotifications()" class="close-icon pi pi-times"></i>
        </div>
        <div class="notification-btn-container">
            <span (click)="toogleViewAllNotifications()" [ngClass]="viewAllNotifications() ? 'notification-btn':'notification-btn selected'">Sin leer</span>
            <span (click)="toogleViewAllNotifications()" [ngClass]="viewAllNotifications() ? 'notification-btn selected':'notification-btn'">Todas</span>
        </div>
        <li *ngFor="let notification of getNotifications() let i = index" (click)="onClickNotification(i)">
            <i [ngClass]="notification.icon+ ' notification-icon'"></i>
            <div class="notification-text-container">
                <span class="notification-title">
                    {{ notification.title }}
                </span>
                <span class="notification-text">
                    {{ notification.text }}
                </span>
                <span class="notification-time">
                    {{ notification.date | timeAgo }}
                </span>
            </div>
        </li>
        <div *ngIf="getNotifications().length===0">
            <i class="pi pi-eye-slash notification-text no-notifications">
                <span>No tienes notificaciones sin leer</span>
            </i>
        </div>
    </ul>
    <!-- Menú Usuario -->
    <ul *ngIf="isUserMenuVisible()" [ngClass]="appService.getThemeClass('user-dropdown')" (blur)="onBlurUserMenu()">
        <app-userinfo></app-userinfo>
        <i (click)="toggleUserMenu()" class="close-icon pi pi-times"></i>

        <li [ngClass]="appService.getThemeClass('theme-switch-container')">
            <app-theme-switch></app-theme-switch>
        </li>
        <li (click)="userConfigRedirect()">
            <i [class]="'pi pi-user '+ appService.getThemeClass('account-icon')"></i>
            <span class="account-data-text">Perfil</span>
        </li>
        <li (click)="logout()">
            <i [class]="'pi pi-external-link '+ appService.getThemeClass('account-icon')"></i>
            <span class="account-data-text">Cerrar Sesión</span>
        </li>
    </ul>
</div>