
/***** Colors *****/
$accept:#46BA36;

/***** darkThemes *****/
$darkBgColor:#2E2E2E;
$darkTitle:#FDDA25;
$darkSubtitle:#5287FB;
$darkText:#FFF;
$darkSubtext:#B2B2B2;
$darkBorder:#636161;
$darkReject:#E06666;

/***** lightThemes *****/
$lightBgColor:#EFEFEF;
$lightTitle:#2E2E2E;
$lightSubtitle:#3045FF;
$lightText:#2E2E2E;
$lightSubtext:#636161;
$lightBorder:#FDDA25;
$lightReject:#E43B3B;


.signin--styles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70%;
}
.icon--header{
    content: url(../protected/assetsConvencion/ico/Eclipse.png);
    position: absolute;
    width:92px;
    left:-50px;
    top: 10px;
    z-index: 1;
    overflow: hidden;

}
.icon--footer{
    content: url(../protected/assetsConvencion/ico/asset_footer.png);
    position: absolute;
    overscroll-behavior-x: hidden;
    width:180px;
    right:-20%;
    bottom:40px;
    z-index: 1;
    overflow: hidden;

}
/*section{
    display: flex;
    justify-content: center;
    margin-top:165px;
   
}*/
.signin--styles h1{
    font-size: 1.8rem;

}
.signin--styles h1, .signin--styles p{
    color: $lightTitle;
    text-align: center;
    
}

.signin--styles img{
    display: flex;
    width:226px;
    height: auto;
    justify-content: center;
    margin: 0 auto;

    
}
.signin--styles p{
    text-align: center;
     font-size: 1rem;
}
::ng-deep .signin--btn .p-button{
    width:253px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;

}


@media (min-width: 1020px) {
    :host {
        flex-direction: column-reverse;
    }
    .icon--header{
    width:157px;
    left:-80px;
    top: 20px;

    }
    .icon--footer{
    width:250px;
    right:-90px;
    bottom:40px;

    }
    ::ng-deep .signin--btn .p-button{
    width:249px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    }
.signin--styles{
    margin-top: 18%;
}
}
///////////////////////////////////////////////////////////