:root{
  /* Colors */
  --primary:#5287FB;
  --complementary:#FDDA25;
  --black:#2E2E2E;
  --neutral:#BDBDBD;
  --white:#FFF;
  --background:#2E2E2E;
  --text: #FFF;

  /* Semantic colors */
  --error:#E43B3B;
  --success:#46BA36;                                          
  --success-soft:#b6d7a8; 
  --success-background:#EFEFEF;
  --warning:#FBE57A;
  --info:#2E2E2E;
  --sales:#F44336;

  /* Behavior colors */
  --primary-hover:#5287FB;
  --primary-press:#3267f2;
  --primary-disabled:#B2B2B2;
  /* PrimeNg colors*/
  --background-soft: #2E2E2E;
   
}