@charset "UTF-8";
@import "coltrane-prime.scss";
@import "../../../../assets/css/default-theme.css";
:root {
    /* Elemental colors */
    --primary: #006fb9;
    --complementary: #ffdd35;
    --black: #2E2E2E;
    --neutral: #bdbdbd;
    --white: #fff;
    --background: #EFEFEF;
  
    /* Semantic colors */
    --error: #EA9999;
    --success: #46BA36;
    --success-soft: #B6D7A8;
    --success-background: #e5ffeb;
    --warning: #F9CB9C;
    --info: #4968ED;
    --sales: #E43B3B;

  
  
    /* Behavior colors */
    --primary-hover: #4968ED;
    --primary-press: #778EF1;
    --primary-disabled: #D2D9FA;
  
    /* ----------------------------Fonts */
  
    --font-primary: 'Circular';
    --font-secondary: 'Helvetica Neue';
  
    --display: 47px;
    --h1: 36px;
    --h2: 28px;
    --h3: 24px;
    --h4: 20px;
    --body: 16px;
    --small: 12px;
    --caption: 10px;
  
    /* ----------------------------Space Unit */
  
    --s-unit: 8px;
    --s-unit-2: 16px;
    --s-unit-3: 24px;
    --s-unit-4: 32px;
    --s-unit-5: 40px;


    
}

