<section>
    <span class="icon--header"></span>
    <div class="section--title">
    <h1>Bienvenido</h1>
    <p>Responde lo siguiente:</p>
</div>
<div class="section--questions">
    <ol>
        <li>¿Asistirá a la Convención Nacional 2026?<br>
            <select [(ngModel)]="confirmacion.invitadoAsiste" name="invitadoAsiste" class="select--input" required>
                <option [ngValue]="undefined">Seleccionar...</option>
                <option [ngValue]="true">Si</option>
                <option [ngValue]="false">No</option>
            </select>
        </li>
         <li>¿Su pareja asistirá a la Convención Nacional 2026?<br>
                <select [(ngModel)]="confirmacion.parejaAsiste" name="parejaAsiste" class="select--input"  required>
                    <option [ngValue]="undefined">Seleccionar...</option>
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>
                </select>   
        </li>
        <div *ngIf="confirmacion.parejaAsiste===true">
            <p>Confirma el nombre completo de su pareja.<br>
            <input  type="text" class="txtBox--input" name="nomPareja" placeholder="Nombre(s), apellido paterno y apellido materno">
            </p> 
        </div>
        <li >¿Tienes alguna alergia alimentaria que debamos considerar?<br>  
                <select [(ngModel)]="confirmacion.alergiaAlimentaria" name="Reponder" class="select--input"  required>
                    <option [ngValue]="undefined">Seleccionar...</option>
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>
                </select>  
        </li> 
        <div *ngIf="confirmacion.alergiaAlimentaria===true">
            <p>Por favor especifíque su alergia:<br>
            <input  type="text" class="txtBox--input" name="alergias" placeholder="Tengo alergia a los mariscos."[(ngModel)]="confirmacion.alergiaEsp">
            </p>
        </div>
        <li class="question-width">¿Tienes alguna necesidad especial relacionada con accesibilidad que debamos tener en cuenta?<br>
                <select [(ngModel)]="confirmacion.discapacidad" name="Reponder" class="select--input"  required>
                    <option [ngValue]="undefined">Seleccionar...</option>
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>
                </select> 
        </li>
        <div *ngIf="confirmacion.discapacidad===true">
            <p>Por favor descríba su necesidad especial:<br>
            <input type="text" class="txtBox--input" name="necesidadesEspeciales" placeholder="Mi pareja usa silla de ruedas" [(ngModel)]="confirmacion.discapacidadEsp">
        </p>
        </div>
        <li [(ngModel)]="confirmacion.comentarios">Comentarios adicionales importantes:<br>
            <input type="text" class="txtBox-input--comment" name="comentarios">
        </li>
    </ol>
     
</div>
<span class="icon--footer"></span>
<button class="btn-enviar" (click)="enviarFormularioV2()">Enviar</button><!-- reenviar respuestas al correo del colab -->
</section>
