<section>
    <span class="icon--header"></span>
    <div class="section--title">
    <h1>Bienvenido</h1>
    <p>Responde lo siguiente:</p>
</div>
<div class="section--questions">
    <ol>
        <li>¿Asistirá a la Convención Nacional 2026?<br>
            <select name="Reponder" class="select--input" required>
                <option value="Seleccionar">Seleccionar...</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
        </li>
         <li>¿Su pareja asistirá a la Convención Nacional 2026?<br>
                <select [(ngModel)]="parejaOpcion" name="Reponder" class="select--input"  required>
                    <option value="Seleccionar...">Seleccionar...</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>   
        </li>
        @if(parejaOpcion==='Si'){
            <p>Confirma el nombre completo de su pareja.<br>
            <input  type="text" class="txtBox--input" name="nomPareja" placeholder="Nombre(s), apellido paterno y apellido materno">
            </p> 
        }
        <li>¿Tienes alguna alergia alimentaria que debamos considerar?<br>  
                <select [(ngModel)]="alergiaOpcion" name="Reponder" class="select--input"  required>
                    <option value="Seleccionar...">Seleccionar...</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>  
        </li> 
        @if(alergiaOpcion==='Si'){
            <p>Por favor especifíque su alergia:<br>
            <input  type="text" class="txtBox--input" name="alergias" placeholder="Soy alérgico a los mariscos.">
        </p>
        } 
        <li>¿Tienes alguna necesidad especial relacionada con accesibilidad o alguna discapacidad que debamos tener en cuenta?<br>
                <select [(ngModel)]="necesidadOpcion" name="Reponder" class="select--input"  required>
                    <option value="Seleccionar...">Seleccionar...</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select> 
        </li>
         @if(necesidadOpcion==='Si'){
            <p>Por favor descríba su necesidad especial:<br>
            <input type="text" class="txtBox--input" name="necesidadesEspeciales" placeholder="Mi pareja usa silla de ruedas">
        </p>}
        <li>Comentarios adicionales importantes:<br>
            <input type="text" class="txtBox--input" name="comentarios">
        </li>
    </ol>
     
</div>
<span class="icon--footer"></span>
<button class="btn-enviar">Enviar</button><!-- reenviar respuestas al correo del colab -->
</section>
