<section class="main--forms">
    <span class="icon--header"></span>
    <div class="section--title">
    <h1>Bienvenido</h1>
    <p>Responde lo siguiente:</p>
</div>
<div class="section--questions">
    <form (ngSubmit)="enviarFormularioV2()" #formulario="ngForm">
        <ol>
        <li>¿Asistirá a la Convención Nacional 2026?<br>
            <select [(ngModel)]="confirmacionModel.invitadoAsiste" name="invitadoAsiste" class="select--input" required>
                <option [ngValue]="undefined">Seleccionar...</option>
                <option [ngValue]="true">Si</option>
                <option [ngValue]="false">No</option>
            </select>
        </li>
         <li>¿Su pareja asistirá a la Convención Nacional 2026?<br>
                <select [(ngModel)]="confirmacionModel.parejaAsiste" name="parejaAsiste" class="select--input"  required [disabled]="confirmacionModel.invitadoAsiste === false">
                    <option [ngValue]="undefined">Seleccionar...</option>
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>
                </select>   
        </li>
        <div *ngIf="confirmacionModel.parejaAsiste===true">
            <p>Confirma el nombre completo de su pareja.<br>
            <input  type="text" class="txtBox--input" [(ngModel)]="confirmacionModel.nombrePareja" name="nombrePareja" placeholder="Nombre(s), apellido paterno y apellido materno" required>
            </p> 
        </div>
        <li >¿Tienes alguna alergia alimentaria que debamos considerar?<br>  
                <select [(ngModel)]="confirmacionModel.alergiaAlimentaria" name="alergiaAlimentaria" class="select--input"  required [disabled]="confirmacionModel.invitadoAsiste === false">
                    <option [ngValue]="undefined">Seleccionar...</option>
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>
                </select>  
        </li> 
        <div *ngIf="confirmacionModel.alergiaAlimentaria===true">
            <p>Por favor especifíque su alergia:<br>
            <input  type="text" class="txtBox--input" [(ngModel)]="confirmacionModel.alergiaEsp" name="alergiaEsp" placeholder="Tengo alergia a los mariscos."[(ngModel)]="confirmacionModel.alergiaEsp" required>
            </p>
        </div>
        <li class="question-width">¿Tienes alguna necesidad especial relacionada con accesibilidad que debamos tener en cuenta?<br>
                <select [(ngModel)]="confirmacionModel.discapacidad" name="discapacidad" class="select--input"  required [disabled]="confirmacionModel.invitadoAsiste === false">
                    <option [ngValue]="undefined">Seleccionar...</option>
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>
                </select> 
        </li>
        <div *ngIf="confirmacionModel.discapacidad===true">
            <p>Por favor descríba su necesidad especial:<br>
            <input type="text" class="txtBox--input" [(ngModel)]="confirmacionModel.discapacidadEsp" name="discapacidadEsp" placeholder="Mi pareja usa silla de ruedas" required>
        </p>
        </div>
        <li><!-- Comentarios adicionales importantes:<br> -->
            {{ confirmacionModel.invitadoAsiste === false ? 'Agradecemos si pudieras indicarnos por qué no podrás asistir.' : 'Comentarios adicionales importantes:' }}<br>
            <input type="text" class="txtBox-input--comment" [(ngModel)]="confirmacionModel.comentarios" name="comentarios">
        </li>
    </ol>
    <button type="submit" class="btn-enviar" [disabled]="!formulario.valid">Enviar</button><!-- reenviar respuestas al correo del colab -->

    </form>
    
     
</div>


</section>
<span class="icon--footer"></span>
